* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(19, 19, 19);
  color: white;
}

.navbar {
  margin: 5px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid white 2px;
  border-radius: 20px;
  font-size: 20px;
}

.navbar ul {
  display: flex;
  gap: 10px;
}
.navbar .addemployee  {
  font-size: 20px;
  border: solid red 2px;
  padding: 5px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}
.navbar .addemployee:hover  {
 background-color: rgb(74, 74, 73);
 color: black;
}

.navbar ul li {
  list-style: none;
}

.navbar div img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;

}

.allemployeecard {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: blue;
  width: fit-content;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;


}

.allemployeecard img {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}
.appbody{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 20px;
}